extends layout 


block content
    h1= title
    form(action="" method="POST")
        .form-control
            label(for="first_name") First Name:
            br
            input#first_name(type="text" name="first_name" required value=(undefined===user ? '': user.first_name))
        .form-control
            label(for="last_name") Family Name: 
            br
            input#last_name(type="text" name="last_name" required)
        .form-control
            label(for="password") Password:
            p.pass Must have at least 8 characters
            input#password(type="password" name="password" required)
        .form-control
            label(for="confirm-pass") Confirm Password:
            br 
            input#confirm-pass(type="password" name="confirm-pass" required)
        .form-control
            label(for="email") Email:
            br 
            input#email(type="email" name="email" required)
        .form-control
            label(for="admin") Admin password (not required):
            br 
            input#email(type="password" name="admin_pass")
        button(type="reset") Reset
        button(type="submit") Submit
        if errors
            ul
            each error in errors
                li= error.msg