extends layout 


block content
    .form
        h1.title= title
        form(action="" method="POST")
            .input-container.ic1
                input#first_name.input(type="text" name="first_name" placeholder=" " required value=(undefined===user ? '': user.first_name))
                .cut
                label.placeholder(for="first_name" laceholder=" ") First Name   
            .input-container.ic2
                input#last_name.input(type="text" name="last_name" placeholder=" " required)   
                .cut
                label.placeholder(for="last_name") Family Name
            .input-container.ic2
                input#password.input(type="password" name="password" placeholder=" " required)
                .cut 
                label.placeholder(for="password") Password
            .input-container.ic2
                input#confirm-pass.input(type="password" name="confirm-pass" placeholder=" " required)
                .cut 
                label.placeholder(for="confirm-pass") Confirm Password
            .input-container.ic2
                input#email.input(type="email" name="email" placeholder=" " required)
                .cut
                label.placeholder(for="email") Email               
            .input-container.ic2
                input#email.input(type="password" name="admin_pass"  placeholder=" ")
                .cut 
                label.placeholder(for="admin") Admin password
            button.submit(type="reset") Reset
            button.submit(type="submit") Submit
            if errors
                ul
                each error in errors
                    li= error.msg